.App {
  max-width: 1024px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ant-page-header {
  padding-left: 0;
  padding-right: 0;
}

p {
  margin-bottom: 0rem;
}

.color-danger {
  color: tomato;
}

form label p:nth-child(1) {
  font-weight: bold;
}
